#tiles {
  display: inline-block;
  width: 360px;
}

.tile {
  border: 2px solid white;
  display: inline-block;
}

.selected {
  border: 2px solid black;
}

canvas {
  position: absolute;
}

#grid {
  border: 1px solid;
}

#toggle {
  position: absolute;
  top: 400px;
  left: 150px;
}

.hidden {
  opacity: 0;
}
